.anticon {
  display: inline-block;
  margin-right: 5px;
}
.alertInfo {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  padding: 0px 15px 0px 15px;
  word-wrap: break-word;
  border-radius: 4px;
}