$base-sidebar-width: 220px;

//默认菜单风格
$base-menu-background:#304156;
$base-menu-color:rgb(227, 231, 235);
// $base-menu-color-active:#f4f4f5;
$base-menu-color-active:red;

$base-sub-menu-background:#1f2d3d;
$base-sub-menu-hover:#001528;


:export {
  menuColor: $base-menu-color;
  menuBackground: $base-menu-background;
  sideBarWidth: $base-sidebar-width;
  menuColorActive: $base-menu-color-active;
}
